<div class="row">
  <div class="col-xs-12">
    <!-- PAGE CONTENT BEGINS -->

    <div class="error-container">
      <div class="well">
        <h1 class="grey lighter smaller">
          <span class="blue bigger-125">
            <i class="icon-sitemap"></i>
            404
          </span>
          亲!页面不存在...
        </h1>

        <hr>
        <h3 class="lighter smaller">我们找了好久好久!就是木有...</h3>

        <div>
          <form class="form-search">
            <span class="input-icon align-middle">
              <i class="icon-search"></i>

              <input type="text" class="search-query" placeholder="主人!去哪?">
            </span>
            <button class="btn btn-sm" onclick="return false;">走 你 !</button>
          </form>

          <div class="space"></div>
          <h4 class="smaller">解决办法:</h4>

          <ul class="list-unstyled spaced inline bigger-110 margin-15">
            <li>
              <i class="icon-hand-right blue"></i>
              检查url地址的正确性....
            </li>

            <li>
              <i class="icon-hand-right blue"></i>
              查看文档...
            </li>

            <li>
              <i class="icon-hand-right blue"></i>
              联系管理员
            </li>
          </ul>
        </div>

        <hr>
        <div class="space"></div>

        <div class="center">
          <a href="#" class="btn btn-grey">
            <i class="icon-arrow-left"></i>
            返 回
          </a>

          <a href="#" class="btn btn-primary">
            <i class="icon-dashboard"></i>
            控制面板
          </a>
        </div>
      </div>
    </div><!-- PAGE CONTENT ENDS -->
  </div><!-- /.col -->
</div>
